<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<style>
    .jumbotron {
      background-image: url("{{ url_for('static', filename= 'images/shelf2.jpg')}}");
      color: #ffffff;
      /* position: absolute;
      height: 50%; */
      
    }

    .downportion {
        background-color: rgb(209, 32, 32);
        color: green;
    }
    </style>
<body>
    <div class="jumbotron text-center">
        <h1>Discover books you'll love!</h1>
        <p>Enter a book you like and the site will analyse our huge database of real readers' favorite books to provide book recommendations and suggestions for what to read next.</p>
        <form action="booklist" class="form-inline">
        <div class="input-group">
          <input type="text" name="bookname" class="form-control" size="50" placeholder="Type the title" required>
          <div class="input-group-btn">
            <button type="submit" value="Submit" class="btn btn-danger">Search</button>
          </div>
        </div>
    </div>
    </form>

    <div class="downportion">
    </div>
</body>
</html>